body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.QajuHzlZleFtiTUp_E8u .D9WLyEQaARfWqCTyVrpU{
  /* border: 2px solid red; */
  width: 80%;

}
.LW7EjqPdWOz2byf1EuLg {
  /* width:80%; */
}
/* In your CSS file */


